.sort-action {
    padding-bottom: 10px;
}

.sort-action a.selected {
    font-weight: bold;
}

tbody.points .subtext .score,
tbody.age .subtext span.age a,
tbody.comments .subtext .comments {
    color: red;
}

